<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<script>
function Validate() {
  var name = document.forms.Libros.NombreLibro.value;
  if (name == "" {
    window.alert("Please enter your name properly.");
    name.focus();
    return false;
  }
  return true;
}
</script>
<style>
    .div-1 {
        background-color: #F7AE92;
    }
    .div-2 {
    	background-color: #D2F792;
    }
    .div-3 {
    	background-color: #92F7DA;
    }
    .div-4 {
    	background-color: #CF92F7;
    }
</style>

<body>
<b><u><font SIZE=20> Biblioteca personal.</font></u></b>
  <br>
  <br>
<!-- ------------------------------------------------------------------------------------------------- -->
<!--codigo en comun para todos los divs y scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- ------------------------------------------------------------------------------------------------- -->
<!-- Linea para separa la carga de datos -->
<hr />
<!-- Linea para separa la carga de datos -->
<!-- ------------------------------------------------------------------------------------------------- -->
<!-- Zona para cargar los datos del libro -->
<div class="div-1">
<form id="Libros" name="Libros" onsubmit="return Validate()"  method="post">
  <br>
  <p><b>Ingrese el nombre del libro: </b><input type="text" name="NombreLibro" /></p>
  <p><b>Ingrese la cantidad de hojas: </b><input type="text" name="CantidadHojasLibro"/></p>
  <p><input type="submit" id="submitLibros" value="Cargar Libro" /></p>
  <br>
</form>
<script>
  $("#Libros").submit(function(event) {
    event.preventDefault();
    window.location.href = "http://127.0.0.1:8000/MiPrimerMVT/CargaLibros/" + $("input[name=NombreLibro]").val() + "/" + $("input[name=CantidadHojasLibro]").val();
  });
</script>
</div>
<!-- ------------------------------------------------------------------------------------------------- -->
<!-- Linea para separa la carga de datos -->
<hr />
<!-- Linea para separa la carga de datos -->
<!-- ------------------------------------------------------------------------------------------------- -->
<!-- Zona para cargar los datos del autor -->
<div class="div-2">
<form id="Autores">
  <br>
  <p><b>Ingrese el nombre del autor: </b><input type="text" name="NombreAutor" /></p>
  <p><b>Ingrese el apellido del autor: </b><input type="text" name="ApellidoAutor" /></p>
  <p><input type="submit" value="Cargar Autor" /></p>
  <br>
</form>
<script>
  $("#Autores").submit(function(event) {
    event.preventDefault();
    window.location.href = "http://127.0.0.1:8000/MiPrimerMVT/CargaAutores/" + $("input[name=NombreAutor]").val() + "/" + $("input[name=ApellidoAutor]").val();
  });
</script>
</div>
<!-- ------------------------------------------------------------------------------------------------- -->
<!-- Linea para separa la carga de datos -->
<hr />
<!-- Linea para separa la carga de datos -->
<!-- ------------------------------------------------------------------------------------------------- -->
<!-- Zona para cargar los datos de las editoriales -->
<div class="div-3">
<form id="Editoriales">
  <br>
  <p><b>Ingrese el nombre de la editorial: </b><input type="text" name="NombreEditorial" /></p>
  <p><b>Ingrese la direccion de la editorial: </b><input type="text" name="DireccionEditorial" /></p>
  <p><b>Ingrese el email de la editorial: </b><input type="text" name="EmailEditorial" /></p>
  <p><input type="submit" value="Cargar Editorial" /></p>
  <br>
</form>
<script>
  $("#Editoriales").submit(function(event) {
    event.preventDefault();
    window.location.href = "http://127.0.0.1:8000/MiPrimerMVT/CargaEditoriales/" + $("input[name=NombreEditorial]").val() + "/" + $("input[name=DireccionEditorial]").val()+ "/" + $("input[name=EmailEditorial]").val();
  });
</script>
</div>
<!-- ------------------------------------------------------------------------------------------------- -->
<!-- Linea para separa la carga de datos -->
<hr />
<!-- Linea para separa la carga de datos -->
<!-- ------------------------------------------------------------------------------------------------- -->
<!-- Zona para cargar los tipos de clasificaciones -->
<div class="div-4">
<form id="Clasificaciones">
  <br>
  <p><b>Ingrese el nombre de la clasificacion: </b><input type="text" name="TipoClasificacion" /></p>
  <p><input type="submit" value="Cargar Clasificacion" /></p>
  <br>
</form>
<script>
  $("#Clasificaciones").submit(function(event) {
    event.preventDefault();
    window.location.href = "http://127.0.0.1:8000/MiPrimerMVT/CargaClasificaciones/" + $("input[name=TipoClasificacion]").val();
  });
</script>
</div>

</body>
</html>